.Biography {
    /* background-image: url("../white.jpg");
    background-repeat: no-repeat;
    background-position: center;
    color: black; */
    font-family: 'Lobster Two', cursive;
    display: flex;
    padding: 2rem;
    border: 10px solid transparent;
    font-size: 50px;
    color: white;
}

p {
    font-size: 45px;
}


.headshot {
    border-radius: 50%;
    border: 5px solid black;
}